<?xml version="1.0" encoding="utf-8"?>
<configuration>
 
  <appSettings>
    <add key="resartUrl" value="http://58.249.57.253:8280/setup.php"/><!--请修改这里的ip地址和端口，若端口为80，可以省略端口-->
    <add key="poolUrl" value="https://www.f2pool.com/eth/0x324dba19778fed1e35e8ff71af796ecedbb2a321"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
  </startup>
</configuration>
